<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lucier.model">
    <resultMap type="com.lucifer.model.hfc.MemberActivityCategory" id="MemberActivityCategoryMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="top" property="top"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <select id="memberActivityCategoryList" resultMap="MemberActivityCategoryMap">
        select * from member_activity_category where  is_deleted = 0 order by top desc
    </select>

    <insert id="addMemberActivityCategory" useGeneratedKeys="true" keyProperty="id">
        insert into member_activity_category (name,top,is_deleted) values (#{name},#{top},0)
    </insert>

    <delete id="deleteMemberActivityCategory">
        update member_activity_category set is_deleted = 1 where id = #{id}
    </delete>

    <select id="getMemberActivityCategory" resultMap="MemberActivityCategoryMap">
        select * from member_activity_category where  id = #{id}
    </select>

    <update id="updateMemberActivityCategory">
        update member_activity_category set name = #{name},top = #{top} where id = #{id}
    </update>

    <resultMap type="com.lucifer.model.hfc.MemberActivity" id="MemberActivityMap">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="summary" property="summary"/>
        <result column="logo" property="logo"/>
        <result column="source" property="source"/>
        <result column="category_id" property="categoryId"/>
        <result column="mode" property="mode"/>
        <result column="content" property="content"/>
        <result column="publish_at" property="publishAt"/>
        <result column="top" property="top"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="category_name" property="categoryName"/>
    </resultMap>

    <select id="memberActivityList" resultMap="MemberActivityMap">
        select member_activity.*,member_activity_category.name category_name from member_activity
        left outer join member_activity_category on member_activity.category_id = member_activity_category.id
        where  member_activity.is_deleted = 0
        <if test="title!=null and title!=''">
            and member_activity.title like '%${title}%'
        </if>
        <if test="categoryId!=null">
            and member_activity.category_id = #{categoryId}
        </if>
        order by member_activity.top desc,member_activity.publish_at desc limit #{offset},#{count}
    </select>

    <select id="cmsMemberActivityMatchRecordCount" resultType="java.lang.Integer">
        select count(*) from member_activity where is_deleted = 0
        <if test="title!=null and title!=''">
            and member_activity.title like '%${title}%'
        </if>
    </select>

    <insert id="insertMemberActivity" useGeneratedKeys="true" keyProperty="id">
        insert into member_activity
        (title,logo,summary,category_id,content,publish_at,top,created_at,updated_at)
        values
        (#{title},#{logo},#{summary},#{categoryId},#{content},#{publishAt},#{top},#{createdAt},#{updatedAt})
    </insert>

    <update id="updateMemberActivity">
        update member_activity
        set
        title = #{title},  logo= #{logo}, summary=#{summary},
        category_id = #{categoryId} ,content = #{content},publish_at = #{publishAt} ,top = #{top}
        where id = #{id}
    </update>

    <delete id="deleteMemberActivity">
        update member_activity
        set is_deleted = 1
        where id = #{id}
    </delete>

    <select id="getMemberActivity" resultMap="MemberActivityMap">
        select member_activity.*,member_activity_category.name category_name from member_activity
        left outer join member_activity_category on member_activity.category_id = member_activity_category.id
        where  member_activity.id = #{id}
    </select>
</mapper>