server:
   port: 8082
   contextPath: /
   resetCache: true
spring:
  redis:
    host: 47.92.129.220
    port: 6379
    password: nx123456
  http:
    multipart:
      max-file-size: 50M
      max-request-size: 100M
# DATASOURCE
jdbc:
    driverClass: com.mysql.jdbc.Driver
    url: jdbc:mysql://47.92.129.220/oauth2-user?useUnicode=true&characterEncoding=utf-8&autoReconnect=true&rewriteBatchedStatements=TRUE&zeroDateTimeBehavior
    username: root
    password: lucifer-nx
jdbc-hfc:
    driverClass: com.mysql.jdbc.Driver
    url: jdbc:mysql://47.92.129.220/nx?useUnicode=true&characterEncoding=utf-8&autoReconnect=true&rewriteBatchedStatements=TRUE&zeroDateTimeBehavior
    username: root
    password: lucifer-nx

#jdbc:
#    driverClass: com.mysql.jdbc.Driver
#    url: jdbc:mysql://localhost/oauth2-user?useUnicode=true&characterEncoding=utf-8&autoReconnect=true&rewriteBatchedStatements=TRUE&zeroDateTimeBehavior
#    username: root
#    password:
#jdbc-hfc:
#    driverClass: com.mysql.jdbc.Driver
#    url: jdbc:mysql://localhost/hfc?useUnicode=true&characterEncoding=utf-8&autoReconnect=true&rewriteBatchedStatements=TRUE&zeroDateTimeBehavior
#    username: root
#    password:


# MyBatis

mybatis:
    typeAliasesPackage: com.lucifer
    mapperLocations: classpath:/sqlmaps/*.xml
    configLocation: classpath:/mybatis-config.xml

qiniu:
  accessKey: eeYtcWvGPXqjEiTIxDljeVu8qxFpwdXOvGo4PURq
  secretKey: LHkSG-HRLccuUYSgb-TX0ZcDrsyUMEzSg6Z3GG6G
  publicBucket: hfc-lucifer
  url: http://ojvbqldpg.bkt.clouddn.com/
multipart:
  maxFileSize: 10Mb
  maxRequestSize: 30Mb
solr:
  url:
    news: http://hfc.dbdbd.cn:8983/solr/news
    artist: http://hfc.dbdbd.cn:8983/solr/artist
    appreciate: http://hfc.dbdbd.cn:8983/solr/appreciate
sms:
  sendCodeUrl: https://api.netease.im/sms/sendcode.action
  appKey: 80f0cbe03428deb5f520005694aeffdd
  appSecret: ef2c21102cb8
  verifyCodeUrl: https://api.netease.im/sms/verifycode.action
wx:
  appid: wx93f526ae469ba2f0
  mchId: 1455164902
  apiKey: NUANXingapiKey6352ERyusiJanDaoNo
  serviceDom: http://47.92.129.220:8082
  unifiedorderUrl: https://api.mch.weixin.qq.com/pay/unifiedorder
  





